<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script type="text/javascript" src="borrowCtrl.js"></script>
    <!--<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>-->
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<form name="add" ng-app="myApp" ng-controller="borrowCtrl">
<table>
    <tr>
        <td>Borrow date</td>
        <td><input type="text" ng-model="borrowDate" required></td>
    </tr>
    <tr>
        <td>Borrower</td>
        <td><select ng-model="borrowerId" required>
            <option value="">Wybierz wypozyczajacego</option>
            <option value={{data.id}} ng-repeat="data in jsondata">{{data.borrowerName}}</option>
        </select></td>
    </tr>
    <tr>
        <td>Vehicle id</td>
        <td><input type="text" ng-model="vehicleId" required></td>
    </tr>
</table>
<button type="submit" ng-click="insertborrow()" ng-disabled="add.$invalid">Dodaj wypozyczenie</button>
</form>
<form action="/index.html">
    <input type="submit" value="Powrot" />
</form>