<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <!--<script type="text/javascript" src="app.js"></script>-->
    <script type="text/javascript" src="indexCtrl.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>

<form name="myForm" ng-app="myApp" ng-controller="indexCtrl" method="post">

    <b>Wybierz date:</b>
    <input type="text" ng-model="kalendarz">
    <button ng-click="changeDate()">Zmien date</button>
    | <b>Dzisiejsza data: </b> <script type="text/javascript">document.write(currentdate)</script>
    <fieldset id="group">
        <input type="submit" value="Add" ng-click="redirectAdd()"/>
        <input type="submit" value="Details" ng-click="redirectDetails()"/>
        <input type="submit" value="Delete" ng-click="redirectDelete()"/>
        ==> do poprawy
        <input type="submit" value="Edit" ng-model="data.id" ng-click="redirectEdit()"/>
    <table border="1">
        <tr>
            <th>id</th>
            <th>Type</th>
            <th>Name</th>
            <th>Color</th>
            <th>Production date</th>
            <th>Producer</th>
            <th>Borrowed for this date</th>
            <th>Borrower name</th>
        </tr>
        <tr ng-repeat="data in jsondata">
            <td>{{data.id}}</td>
            <td>{{data.type}}</td>
            <td>{{data.vehicleName}}</td>
            <td>{{data.color}}</td>
            <td>{{data.productionDate}}</td>
            <td>{{data.producer}}</td>
            <td>{{data.isBorrowed}}</td>
            <td>{{data.borrower.borrowerName}}</td>
            <td><input type="radio" value={{data.id}} name="group" ng-model="data.id" ng-change="setId(data.id)"></td>
        </tr>
    </table>
    </fieldset>
</form>
<form action="/addBorrow.html">
    <input type="submit" value="Borrow" />
</form>
</body>
</html>