<html ng-app="myApp">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="indexCtrl.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<form name="myForm" ng-app="myApp" ng-controller="indexCtrl" method="post">
<h1>Wypozyczalnia pojazdow</h1>
    <hr>
    <b>Wybierz date:</b>
    <input type="text" ng-model="kalendarz">
    <button class="btn btn-primary" ng-click="changeDate()">Zmien date</button>
    | <b>Dzisiejsza data: </b> <script type="text/javascript">document.write(currentdate)</script>
    <p></p>
    <fieldset id="group">
        <input class="btn btn-primary" type="submit" value="Dodaj" ng-click="redirectAdd()"/>
        <input class="btn btn-primary" type="submit" data-ng-disabled="id === undefined" value="Szczegoly" ng-click="redirectDetails()"/>
        <input class="btn btn-primary" type="submit" data-ng-disabled="id === undefined" value="Usun" ng-click="redirectDelete()"/>
        <input class="btn btn-primary" type="submit" data-ng-disabled="jsondata.type === 'Bike'" value="Edytuj" ng-model="data.id" ng-click="redirectEdit()"/>
        <a class="btn btn-primary" class="button" href="/addBorrow.html">Wypozycz</a>
        <p></p>
        <center>
            <div>
    <table border="1" class="table table-striped table-hover">
        <tr>
            <th>id</th>
            <!--<th>Type</th>-->
            <th>Typ</th>
            <th>Nazwa</th>
            <th>Kolor</th>
            <th>Data produkcji</th>
            <th>Producent</th>
            <th>Czy wypozyczony na dany dzien</th>
            <th>Nazwa wypozyczajacego</th>
        </tr>
        <tr ng-repeat="data in jsondata">
            <td>{{data.id}}</td>
            <!--<td>{{data.type}}</td>-->
            <th><img ng-src="{{data.type == 'Car' && 'car.png' || 'bike.png'}}"/></th>
            <td>{{data.vehicleName}}</td>
            <td>{{data.color}}</td>
            <td>{{data.productionDate}}</td>
            <td>{{data.producer}}</td>
            <td><img ng-src="{{data.isBorrowed == true && 'true.png' || 'false.png'}}"/></td>
            <td>{{data.borrower.borrowerName}}</td>
            <td><input type="radio" value={{data.id}} name="group" ng-model="data.id" ng-change="setId(data.id)"></td>
        </tr>
    </table>
            </div>
        </center>
    </fieldset>

</form>
</body>
</html>